# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/

# Django
staticfiles/
media/
db.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc

# Coverage / testing
coverage.xml
htmlcov/
.pytest_cache/

# IDE / tools
.vscode/
.idea/
*.swp

# Docker artifacts
*.log
celerybeat-schedule

# Build
build/
dist/
*.egg-info/

# Mac
.DS_Store
